.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 60px;
  padding: 0 50px;
  background: #fff;
  margin-bottom: 50px; }
  .header__logo {
    width: 40px;
    height: 40px;
    left: 50px;
    top: 10px; }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0; }
  .header__nav-item {
    display: block;
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 23px 0;
    margin-left: 20px; }
    .header__nav-item:hover {
      color: #00acdc; }

.is-active {
  position: relative;
  color: #00acdc;
  margin: 0; }
  .is-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #00acdc;
    border-radius: 8px; }

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 402px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 14px 15px;
  margin: 0 24px 51px; }
  .card__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 45px; }
  .card__name {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px; }
  .card__code {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    margin-bottom: 15px; }
  .card__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
  .card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .card__star {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background: url(/images/star-active.svg) center no-repeat; }
    .card__star:last-child {
      background: url(/images/star.svg) center no-repeat; }
  .card__reviews {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px; }
  .card__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 20px; }
    .card__price-caption {
      font-family: Roboto, sans-serif;
      font-size: 11px;
      font-weight: normal;
      line-height: 13px; }
    .card__price-value {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px; }
  .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    text-decoration: none; }
  .card__button {
    width: 100%;
    height: 40px;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    text-align: center;
    cursor: pointer; }
    .card__button:hover {
      color: #00acdc;
      background-color: #fff; }

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto; }

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%; }

q:before,
q:after {
  content: ""; }

abbr,
acronym {
  border: 0; }

/*# sourceMappingURL=main.css.map */
